<!DOCTYPE html>
<!-- saved from url=(0030)http://raphaeljs.com/hand.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Raphaël · Roundabout</title>
        <link rel="stylesheet" href="/stylesheets/demo.css" type="text/css" media="screen">
       	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  		<script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/raphael.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
        var socket = io.connect();
        var people = [];
        var  angle = 0;
        var s;
            function drawPeople(numpeople) {
            	$('#holder').html('');
                 r = Raphael("holder", 640, 480);
                angle = 0;   
                $.each(numpeople,function() {
                	
                    var color = Raphael.getColor();
                    (function (t, c,person) {
                    	
                       var cl =  r.circle(320, 450, 20)
                        	.attr({stroke: c, text:'hello', fill: c, transform: t, "fill-opacity": .4})
                        	.data("angle",angle)
                        	.data("user",person.name)
                        	.click(function () {
	                        	console.log(this.data("user"));
	                            s.animate({transform: t, stroke: c}, 2000, "bounce");
	                            socket.emit('passmonkey',{name:person.name,id:this.id});
							})
							.mouseover(function () {
                            	this.animate({"fill-opacity": .75}, 500);
                        	})
                        	.mouseout(function () {
                            	this.animate({"fill-opacity": .4}, 500);
                        	});
                        	r.text(cl.getBBox().x + 70, cl.getBBox().y, person.name);
                    		
                    })("r" + angle + " 320 240", color,this);
                    angle += 360/numpeople.length;
                });
                Raphael.getColor.reset();
                s = r.set();
                s.push(r.path("M320,240c-50,100,50,110,0,190").attr({fill: "none", "stroke-width": 2}));
                s.push(r.circle(320, 450, 20).attr({fill: "none", "stroke-width": 2}));
                s.push(r.circle(320, 240, 5).attr({fill: "none", "stroke-width": 10}));
                s.attr({stroke: Raphael.getColor()});
            };



var r;
var myname;
  $(function(){
  	myname = prompt("Who are you?",'Miles Wilson');
  	people.push({name:myname});
  	drawPeople(people);
  
    socket.on('connect', function () {
    	socket.emit('subscribe',{room:window.location.pathname});
    	socket.emit('arrived',{name:myname});

      socket.on('users', function(newbies){
      	$.each(newbies,function(){
      		people.push(this);
      	})
      	
      	drawPeople(people);

      });
      socket.on('changespeaker', function(data){
      	r.forEach(function (el) {
      		if(el.data("user") == data.name){
      			s.animate({transform: el.transform(), stroke: '#000'}, 2000, "bounce");
      		}
		});
      	
      });
      socket.on('arrival', function(newbie){
      	people.push(newbie);
      	drawPeople(people);

      });
      socket.on('message', function(message) {
        $('#messages').append($('<li></li>').text(message));
      });
      socket.on('disconnect', function() {
        $('#messages').append('<li>Disconnected</li>');
      });
      socket.on('raisedfinger',function(user) {
        $('#blob-'+user).addClass('glow');
      });
    });

    
    var glowingBox;
    var squeek = new Howl({
	  urls: ['/monkey.mp3']
	});
    $('.blob').click(function(ev){
      console.log(ev);
      glowingBox = $(ev.currentTarget);
      $(ev.currentTarget).addClass('glow');
      squeek.play();
      socket.emit('raisefinger',$(ev.currentTarget).html());

    });

  });

        </script>
    </head>
    <body>
        <div id="holder"></div>

    

</body></html>
